<!-- Contenido -->
{% block content %}{% endblock %}

<!-- Estilos y fuentes del template  -->
{% load static %} 
<!-- Bootstrap y Javascripts -->

<script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'core/js/clean-blog.min.js' %}"></script>

<title>{% block title %}{% endblock %} | Dulce Juárez Soledad </title>

<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Portada</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'portafolio' %}">Portafolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
        </li>
        <li>
            <a class="navbar-brand" href="{% url 'home' %}">Dulce Juárez Soledad</a>
        </li>
    </ul>
</div>
<!-- Cabecera -->
<header class="masthead" 
    style="background-image: url('{% block background %}{% endblock %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          {% block headers %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</header>